* {
  font-family: "Fredoka";
}

.navigators {
  position: sticky !important;
  top: 0 !important;
  background-color: white !important;
  z-index: 1 !important;
}
.navigationbar {
  border: 1px solid rgb(234, 227, 227);
}
.navigationlinks a {
  color: #000;
}
.navigationlinks a:hover {
  text-decoration: underline #f97352;
  color: rgb(167, 167, 255);
}
.campus {
  line-height: 30px;
}
.Profile {
  color: #404040;
}
.City {
  color: #939393;
  font-style: italic;
}
.Read {
  background-color: #f97352 !important;
  color: #f9f6ff !important;
  margin-top: 30px;
  transition: all ease 0.6s;
}
.Read:hover {
  scale: 1.1;
}
.morals {
  color: #404040;
}
.carding img {
  width: 263px !important ;
  height: 282px !important ;
}
.build {
  transition: all ease 0.6s;
  cursor: pointer;
}
.build:hover {
  transform: translateY(-12px);
}
.Rules {
  color: #404040;
}
.reminder {
  height: 435px;
  transition: all ease 0.6s;
}
.reminder:hover {
  transform: translateY(-12px);
}
.Payments {
  color: #404040;
}
.mybtn {
  background-color: #f97352 !important;
}
.mybtn:hover {
  background-color: #825b51 !important;
}
.Allied {
  background-color: #351c5a;
  color: #ffffff;
}
.prepare {
  flex: 1;
}
.Gulberg {
  flex: 1;
}
.FAQs {
  flex: 1;
}
.Newsletter {
  flex: 1;
}
.lettering:hover {
  border: solid 1px #ffffff !important;
  outline: none !important;
}
.Gulberg img {
  width: 16px;
  height: 16px;
}
.ShoppingMall {
  list-style-type: none;
  line-height: 40px;
}
.ShoppingMall a {
  color: #ffffff;
  text-decoration: none;
  transition: all ease 0.6s;
}
.ShoppingMall a:hover {
  text-decoration: underline #ffc000;
  color: #ffc000;
  transform: translateY(-12px);
}
.lettering {
  width: 220px !important;
  margin-right: 50px !important;
  margin-top: 30px;
  margin-bottom: 30px;
}
.Subscribe {
  color: #ffffff !important;
  background-color: #ff4880 !important;
  border-radius: 15px !important ;
  width: 220px !important;
  height: 40px !important;
  font-weight: 700 !important;
  transition: all ease 0.6s;
  outline: none !important;
}
.Subscribe:hover {
  background-color: #ffffff !important;
  color: #000 !important;
  transform: translateY(-12px);
}
.Reserved {
  color: white;
  background-color: #271344;
}
.Rights p {
  margin-left: 90px;
}
